{% extends 'base.html' %}

{% block title %} Invoice {% endblock %}

{% block body_class %}container invoice-show{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1 id='' class='display-3 text-center mb-4 mt-4'>Invoice for {{invoice.project.project_name}}</h1>

<div class="form-style px-3 py-3">
<div class='form-info py-3 mb-3 align-items-center'>
    <div class='col'><i class="ph-question ph-xl"></i> Please configure invoice details prior to printing. </div>
</div>
<div id='invoice'>
    <div class="container mt-3 bg-white p-0">
        <div class="card bg-white">
            <div id="invoice-info-id-{{invoice.id}}"class="card-header">
                <div class="row">
                    <div class="col">
                        <div class="row invoice-nr">
                            <span>Invoice Number </span>
                            {% if invoice.invoice_nr %}
                            <strong class='ml-3'> {{invoice.invoice_nr}}</strong>
                            {% else %}
                            <span class='align-text-bottom'>
                                <button  data-toggle="tooltip" data-placement='top' title="Edit" class='icon make-input'><i class="ph-plus make-input ml-2 ph-lg"></i></button>
                                <button  data-toggle="tooltip" data-placement='top' title="Delete section" class='icon delete'><i class="ph-trash-simple delete ph-lg"></i></button>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <span class="float-right"> For: <strong>{{invoice.project.project_name}}</strong></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
            <div class="row mb-4">
                <div id='from' class="col-sm-6">
                    <h6 class="mb-3">From:</h6>
                    {% if not user.billing_info %}
                        You have no saved billing details. You can add billing details <a href="/{{user.username}}/billing-infos/form?from=invoice&id={{invoice.id}}">HERE</a>.
                    {% else %}
                    <div id='billing-details-div' class=""></div>
                    <div id='card-div'></div>
                    <div class="row align-items-center billing-details-btns">
                        <div class="col">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Billing Details</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for bi in user.billing_info %}
                                  <a id='billing-info-id-{{bi.id}}' class="dropdown-item billing-info-dropdown" href="#">{{bi.name}}</a>
                                  {% endfor %}
                                  <a href='/{{user.username}}/billing-infos/form' class="dropdown-item" href="#">Add New</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div id='accept-div' class="col"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">To:</h6>
                    <div><strong>{{invoice.project.client.name}}</strong></div>
                    <div>{{invoice.project.client.street}}</div>
                    <div>{{invoice.project.client.postcode}}, {{invoice.project.client.city}}</div>
                    <div>{{invoice.project.client.country}}</div>
                </div>
            </div>
            <div id='dates' class="row">
                <div class="col">
                    {% if not invoice.due_date %}
                    <form class='form-group' action="">
                        <div class="row align-items-end">
                            <div class="col-3">
                                <label for="date-of-issue">Date of Issue</label>
                                <input required name='date-of-issue' class='form-control' type="date">
                            </div>
                            <div class="col-3">
                                <label for="due-date">Due Date</label>
                                <input required name='due-date' class='form-control' type="date">
                            </div>
                            <div class="col-6">
                                <button data-toggle='tooltip' data-placement='top' title='Add dates' class='add-dates icon'><i class="ph-check-circle ph-xl add-dates"></i></button>
                                <button data-toggle='tooltip' data-placement='top' title='Remove section' class='delete-dates icon'><i class="ph-trash-simple ph-xl delete-dates"></i></button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <div>Date of Issue: {{invoice.date}}</div>
                    <div>Due Date: <strong>{{invoice.due_date}}</strong></div>
                    {% endif %}
                </div>

            </div>
            <div class="mt-3 table-responsive-sm bg-white">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="center">Date</th>
                            <th>Time</th>
                            <th>Description</th>
                            <th class="right">{% if invoice.curr_of_rate == invoice.curr_of_inv%} {% else %}Value in {{invoice.project.curr_of_rate}} {% endif %}</th>
                            <th class="center">Value in {{invoice.project.curr_of_inv}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log_entry in invoice.project.log_entries %}
                        <tr>
                            <td class="center">{{log_entry.date}}</td>
                            <td class="left strong">{{log_entry.time_delta}} min</td>
                            <td class="left">{{log_entry.description}}</td>
                            <td class="right">{% if log_entry.project.curr_of_rate == log_entry.project.curr_of_inv %}
                                            {% else %}
                                            {{log_entry.value_in_curr_of_rate}}
                                            {% endif %}
                            </td>
                            <td class="center">{{log_entry.value_in_curr_of_inv}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-5"></div>
                <div class="col-lg-5 col-sm-5 ml-auto">
                    <table id='extras' class="table table-clear">
                            <tbody>
                                <tr>
                                    <td class="left"><strong>Subtotal</strong></td>
                                    <td class="right">{{invoice.project.show_subtotal_values()['subtotal_inv']['symbol']}}{{invoice.amount_in_curr_of_inv}}</td>
                                </tr>
                                <tr class='extra-row'>
                                    <td class="left"><strong>Extra Charge <span id='extra-charge-description'></span></strong></td>
                                    <td class="right extra">
                                        {% if invoice.extra %}
                                        {{invoice.extra}}
                                        {% else %}
                                        <button data-toggle='tooltip' data-placement='top' title='Add'  data-extra-type='extra' class='icon add extra-input'><i data-extra-type='extra' class="ph-plus ph-lg add extra-input"></i></button>
                                        <button data-toggle='tooltip' data-placement='top' title='Remove section' class='delete icon'><i id='delete-extra-charge' class="ph-trash-simple ph-lg delete"></i></button>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class='discount-row'>
                                    <td class="left"><strong>Discount <span id='discount-percent'>(%)</span></strong></td>
                                    <td class="right discount">
                                        {% if invoice.discount %}
                                        {{invoice.discount}}
                                        {% else %}
                                        <button data-toggle='tooltip' data-placement='top' title='Add'  data-extra-type='discount' class='icon add extra-input'><i data-extra-type='discount' class="ph-plus ph-lg add extra-input"></i></button>
                                        <button data-toggle='tooltip' data-placement='top' title='Remove section' class='icon delete'><i id='delete-discount' class="ph-trash-simple ph-lg delete"></i></button>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class='VAT-row'>
                                    <td class="left"><strong>VAT <span>(%)</span></strong></td>
                                    <td class="right VAT">
                                        {% if invoice.VAT %}
                                        {{invoice.VAT}}
                                        {% else %}
                                       <button data-toggle='tooltip' data-placement='top' title='Add' data-extra-type='VAT' class='icon add extra-input'> <i data-extra-type='VAT' id='VAT' class="ph-plus ph-lg add extra-input"></i></button>
                                        <button data-toggle='tooltip' data-placement='top' title='Remove section' class='icon delete'><i id='delete-VAT' class="ph-trash-simple ph-lg delete"></i></button>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>Total</strong></td>
                                    <td id='final-amount' class="right">
                                       <strong><span>
                                        {% if invoice.amount_after_extras_in_curr_of_inv %}
                                        {{invoice.amount_after_extras_in_curr_of_inv}} {{invoice.curr_of_inv}}
                                        {% else %}
                                        {{invoice.amount_in_curr_of_inv}} {{invoice.curr_of_inv}}
                                        </span></strong>
                                       {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left"><strong></strong></td>
                                    <td id='accept-changes-td' class="right"></td>
                                </tr>
                            </tbody>
                    </table>
                </div>  
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button id='save' class='btn btn-primary btn-block mt-4'><i class="ph-download-simple"></i> Save Invoice as PDF</button>
</div>
</div>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block script %}
<script src='/static/js/global-functions.js'></script>
<script src="/static/js/html2pdf.bundle.min.js"></script>
<script src='/static/js/invoice/edit.js'></script>

{% endblock %}