{% extends 'base.html' %}

{% block body_class %}container invoice-show{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1 id='' class='display-3 text-center mb-4 bg-white'>Invoice for {{invoice.project.project_name}}</h1>
<button id='save' class='btn btn-primary btn-block mb-4'>Save Invoice</button>

<div id='invoice'>
    <div class="container mt-3">
        <div class="card">
            <div id="invoice-info-id-{{invoice.id}}"class="card-header">
                <span>Invoice Number</span>
                {% if invoice.invoice_nr %}
                <strong>{{invoice.invoice_nr}}</strong>
                {% else %}
                <span>
                    <button class='btn btn-success'>Add</button>
                    <button class='btn btn-danger invoice-nr'>X</button>
                </span>
                {% endif %}
                <span class="float-right"> For: <strong>{{invoice.project.project_name}}</strong></span>
            </div>
            <div class="card-body">
            <div class="row mb-4">
                <div id='from' class="col-sm-6">
                    <h6 class="mb-3">From:</h6>
                    {% if not user.billing_info %}
                    <form id='billing-info'  method='POST' action="/{{user.username}}/invoice/{{invoice.id}}/billing-info/add">
                        <div class="form-row">
                            <div class="col">
                                <div>* Name: <input name='name' required type="text" class='form-control' placeholder='Name'></div>
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class="col">
                                <div>Street: <input name='street' type="text"class='form-control' placeholder='Street'></div>
                            </div>
                            <div class="col">
                                <div>City: <input name='city' type="text"class='form-control' placeholder='City'></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div>Postcode: <input name='postcode' type="text" class='form-control' placeholder='Postcode'></div>
                            </div>
                            <div class="col">
                                <div>Country: <input name='country' type="text" class='form-control' placeholder='Country'></div>
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class="col">
                                <div>Phone: <input name='phone' type="text"class='form-control' placeholder='Phone'></div>
                            </div>
                            <div class="col">
                                <div>* Email: <input required name='email' type="text"class='form-control' placeholder='Email'></div>
                            </div>
                        </div>
                        <div>* Required details. </div>
                        <button class='btn btn-success mt-3 add-info-btn'>Add Billing Info</button>
                    </form>
                    {% else %}
                    <div id='billing-details-div' class=""></div>
                    <div class="row">
                        <div class="col">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Billing Details</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for bi in user.billing_info %}
                                  <a id='billing-info-id-{{bi.id}}' class="dropdown-item billing-info-dropdown" href="#">{{bi.name}}</a>
                                  {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div id='accept-div' class="col"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">To:</h6>
                    <div><strong>{{invoice.project.client.name}}</strong></div>
                    <div>{{invoice.project.client.street}}</div>
                    <div>{{invoice.project.client.postcode}}, {{invoice.project.client.city}}</div>
                    <div>{{invoice.project.client.country}}</div>
                </div>
            </div>
            <div id='dates' class="row">
                <div class="col">
                    {% if not invoice.due_date %}
                    <form class='form-group' action="">
                        <div class="row align-items-end">
                            <div class="col-3">
                                <label for="date-of-issue">Date of Issue</label>
                                <input required name='date-of-issue' class='form-control' type="date">
                            </div>
                            <div class="col-3">
                                <label for="due-date">Due Date</label>
                                <input required name='due-date' class='form-control' type="date">
                            </div>
                            <div class="col-6">
                                <button id='invoice-info-id-{{invoice.id}}'class='btn btn-success add-dates' type='submit'>Accept</button>
                                <button class='btn btn-danger delete-dates'>X</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <div>Date of Issue: {{invoice.date}}</div>
                    <div>Due Date: <strong>{{invoice.due_date}}</strong></div>
                    {% endif %}
                </div>

            </div>
            <div class="mt-3 table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="center">Date</th>
                            <th>Time</th>
                            <th>Description</th>
                            <th class="right">{% if invoice.curr_of_rate == invoice.curr_of_inv%} {% else %}Value in {{invoice.project.curr_of_rate}} {% endif %}</th>
                            <th class="center">Value in {{invoice.project.curr_of_inv}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log_entry in invoice.project.log_entries %}
                        <tr>
                            <td class="center">{{log_entry.date}}</td>
                            <td class="left strong">{{log_entry.time_delta}} min</td>
                            <td class="left">{{log_entry.description}}</td>
                            <td class="right">{% if log_entry.project.curr_of_rate == log_entry.project.curr_of_inv %}
                                            {% else %}
                                            {{log_entry.value_in_curr_of_rate}}
                                            {% endif %}
                            </td>
                            <td class="center">{{log_entry.value_in_curr_of_inv}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-5"></div>
                <div class="col-lg-5 col-sm-5 ml-auto">
                    <table id='extras' class="table table-clear">
                            <tbody>
                                <tr>
                                    <td class="left"><strong>Subtotal</strong></td>
                                    <td class="right">{{invoice.project.show_subtotal_values()['subtotal_inv']['symbol']}}{{invoice.amount_in_curr_of_inv}}</td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>Extra Charge <span id='extra-charge-description'></span></strong></td>
                                    <td class="right extra">
                                        {% if invoice.extra %}
                                        {{invoice.extra}}
                                        {% else %}
                                        <button id='extra' class='add btn btn-success'>Add</button>
                                        <button id='delete-extra-charge' class='btn btn-danger'>X</button>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>Discount <span id='discount-percent'>(%)</span></strong></td>
                                    <td class="right discount">
                                        {% if invoice.discount %}
                                        {{invoice.discount}}
                                        {% else %}
                                        <button id='discount' class='add btn btn-success'>Add</button>
                                        <button id='delete-discount' class='btn btn-danger'>X</button>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>VAT <span>(%)</span></strong></td>
                                    <td class="right VAT">
                                        {% if invoice.VAT %}
                                        {{invoice.VAT}}
                                        {% else %}
                                        <button id='VAT' class='add btn btn-success'>Add</button>
                                        <button id='delete-VAT' class='btn btn-danger'>X</button>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>Total</strong></td>
                                    <td id='final-amount' class="right">{% if invoice.amount_after_extras_in_curr_of_inv %}
                                       <strong><span>{{invoice.amount_after_extras_in_curr_of_inv}} {{invoice.curr_of_inv}}</span></strong>
                                       {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left"><strong></strong></td>
                                    <td id='accept-changes-td' class="right"></td>
                                </tr>
                            </tbody>
                    </table>
                </div>  
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="/static/js/html2pdf.bundle.min.js"></script>
<script src='/static/js/invoice/edit.js'></script>

{% endblock %}