{% extends 'base.html' %}

{% block body_class %}container invoice-show{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1 id='' class='display-3 text-center mb-4 bg-white'>Invoice for {{invoice.project.project_name}}</h1>
<button id='save' class='btn btn-primary btn-block mb-4'>Save Invoice</button>

<div id='invoice'>
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                Invoice Number <strong>{{invoice.invoice_number}}</strong> 
                <span class="float-right"> For: <strong>{{invoice.project.project_name}}</strong></span>
            </div>
            <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h6 class="mb-3">From:</h6>
                    {% if not invoice.billing_info %}
                    <form action="">
                        <div>Name: <input type="text"></div>
                        <div>Street: <input type="text"></div>
                        <div>City: <input type="text"></div>
                        <div>Country: <input type="text"></div>
                        <div>Email: <input type="text"></div>
                        <div>Phone: <input type="text"></div>
                        <button class='btn btn-success'>Add Billing Info</button>
                    </form>
                    {% else %}
                    <div><strong>{{user.full_name}}</strong></div>
                    <div>{{invoice.billing_address}}</div>
                    <div>71-101 Szczecin, Poland</div>
                    <div>Email: info@webz.com.pl</div>
                    <div>Phone: +48 444 666 3333</div>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">To:</h6>
                    <div><strong>{{invoice.project.client.name}}</strong></div>
                    <div>{{invoice.project.client.street}}</div>
                    <div>{{invoice.project.client.postcode}}, {{invoice.project.client.city}}</div>
                    <div>{{invoice.project.client.country}}</div>
                </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="center">Date</th>
                            <th>Time</th>
                            <th>Description</th>
                            <th class="right">Value in {{invoice.project.curr_of_rate}}</th>
                            <th class="center">Value in {{invoice.project.curr_of_inv}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log_entry in invoice.project.log_entries %}
                        <tr>
                            <td class="center">{{log_entry.date}}</td>
                            <td class="left strong">{{log_entry.time_delta}} min</td>
                            <td class="left">{{log_entry.description}}</td>
                            <td class="right">{{log_entry.value_in_curr_of_rate}}</td>
                            <td class="center">{{log_entry.value_in_curr_of_inv}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5"></div>
                <div class="col-lg-4 col-sm-5 ml-auto">
                    <table class="table table-clear">
                            <tbody>
                                <tr>
                                    <td class="left"><strong>Subtotal</strong></td>
                                    <td class="right">{{invoice.amount_in_curr_of_inv}}</td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>Extra Charge <span id='extra-charge-description'></span></strong></td>
                                    <td class="right">
                                        <button id='add-extra-charge' class='btn btn-success'>Add</button>
                                        <button id='delete-extra-charge' class='btn btn-danger'>X</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>Discount <span id='discount-percent'>(XX%)</span></strong></td>
                                    <td class="right">
                                        <button id='add-discount' class='btn btn-success'>Add</button>
                                        <button id='delete-discount' class='btn btn-danger'>X</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>VAT <span>(XX%)</span></strong></td>
                                    <td class="right">
                                        <button id='add-VAT' class='btn btn-success'>Add</button>
                                        <button id='delete-VAT' class='btn btn-danger'>X</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="left"><strong>Total</strong></td>
                                    <td class="right"><strong>$7.477,36</strong></td>
                                </tr>
                            </tbody>
                    </table>
                </div>  
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="/static/js/html2pdf.bundle.min.js"></script>
<script src='/static/js/invoice/edit.js'></script>

{% endblock %}