/* body {
    background-image: url("patterns/clock.svg")
}
 */
h1 {
    background: #DCD0F1;
}

h2 {
    color: #f44336;
}

.signup {
    background-color: #f44336;
    border: 1px solid #f44336;
}

.home-anon {
    background: #DCD0F1;
}

#user-nav {
    margin-left: 44px;
}

body {
    font-family: Helvetica Neue;
}

td > i:hover {
    cursor: pointer;
}

span > i:hover {
    cursor: pointer;
}

.ph-check-circle:hover {
    cursor: pointer;
}

i.add:hover {
    cursor: pointer;
}
.ph-pencil-simple {
    color: green;
}

.ph-plus {
    color: green;
}
.ph-plus:hover {
    cursor: pointer;
}
.ph-trash-simple {
    color: red;
}

i:hover {
    cursor: pointer;
}

.ph-check-circle {
    color: green;
}


