
.signup {
    background-color: #f44336;
    border: 1px solid #f44336;
}

.home-anon {
    background: #DCD0F1;
}

#user-nav {
    margin-left: 44px;
}

body {
    font-family: Helvetica Neue;
}

td > i:hover {
    
}

span > i:hover {
    
}

.ph-check-circle:hover {
    
}

i.add:hover {
    
}
.ph-pencil-simple {
    color: green;
}

.ph-plus {
    color: green;
}
.ph-plus:hover {
    
}
.ph-trash-simple {
    color: red;
}

i:hover {
    
}

.ph-check-circle {
    color: green;
}

.enhanced {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px; 
    padding-left: 5px;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button.icon {
    background: none;
    border: none;
    outline: none;
}

.tooltip-inner {
    background-color: #482883;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #482883;
    border-width: 0.4rem 0.4rem 0;
}

.alert-success {
    background-color: rgba(215, 245, 176, 0.5);
    border: none;
}

.form-info {
    background-color: rgba(215, 245, 176, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 12px;

}

.form-style {
    background: #bc93cc30;
    border-radius: 12px;
}

.overlay {
    background: white;
    border-top: 1px solid #482883;
}

.btn {
    border-radius: 12px;
}

.table-wrapper {
    background-color: #d2cefa
}

.table-hover tbody tr:hover {
    background-color: #e4f1d3;
  }

/* keeps footer sticky */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.site-content {
    flex: 1;
  }

