{% extends 'base.html' %}

{% block body_class %}container client-edit{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <h1 class='display-3 text-center mb-4 mt-4'>Edit Client <span class='client-name' id='{{client.id}}'>{{client.name}}</span></h1>

    <div id='edit-container' class="container form-style py-3">

  

    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field.label }}
        {{ field(placeholder=field.label.text, class="form-control mb-2 text-primary") }}
      {% endfor %}

      <button class="btn btn-lg btn-block bg-primary text-white"> Edit Client! </button>
    </form>
</div>
{% endblock %}
{% block script %} 
<script src="/static/js/client/edit.js"></script>
{% endblock %}
