      <div class="container">

        <!-- images -->
    <div class="row">
        <div class="col-4">
            <img class='img-fluid' src="/static/css/imgs/GrowYourMoney/grow-you-money-1.png" alt="">
        </div>
        <div class="col-4">
            <img class='img-fluid' src="/static/css/imgs/TimeIsMoney/time-is-money-1.png" alt="">
        </div>
        <div class="col-4">
            <img class='img-fluid' src="/static/css/imgs/GrowYourMoney/grow-your-money-4.png" alt="">
        </div>
    </div>

      <footer class="pt-md-5 bg-none overlay footer">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="/static/css/imgs/TimeIsMoney/time-is-money-2.png" alt="" width="50">
            <small class="d-block mb-3 ">&copy; 2020 made by sansPanic</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="" href="#">Time Tracking</a></li>
              <li><a class="" href="#">Currency Conversion</a></li>
              <li><a class="" href="#">Invoice Generation</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Exchange Rates</h5>
            <ul class="list-unstyled text-small">
              <li><a class="" href="#">Exchange Rates Source</a></li>
              <li><a class="" href="#">Supported Currencies</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="" href="#">Why Track?</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>