{% extends 'base.html' %}
{% block title %} Help {% endblock %}

{% block body_class %}container help{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <h1 class='display-2 text-center mb-4 mt-4'>User guide</h1>
    <div class="container form-style py-3 px-3">
        <div class="row justify-content-around">
            <div class="col-xs-12 col-md-5 table-wrapper p-3 m-3">
                <h4>1. Add new project</h4>
                <ul>
                    <li>On the "Projects" page, click on "Add new project"</li>
                    <li>Fill out form with project details</li>
                    <li> <strong>Client:</strong> you will be presented with a drop-down choice of clients. If it's your first time, you will be asked to add a new client before proceeding</li>
                    <li> <strong>Name:</strong> call your project any name you'd like - you can modify this later</li>
                    <li> <strong>Hourly rate:</strong> enter the salary you receive per hour</li>
                    <li> <strong>Currency:</strong> select the currency of your hourly rate, as well as the currency you will be invoicing in. If these differ, currency conversion features will be turned on automatically</li>

                </ul>
            </div>
            <div class="d-flex col-xs-12 col-md-5 table-wrapper p-3 m-3 align-items-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="/static/videos/add_project.mp4" allowfullscreen></iframe>
                </div>
            </div>            
        </div>
        <div class="row justify-content-around">
            <div class="d-flex col-xs-12 col-md-5 table-wrapper p-3 m-3 align-items-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="/static/videos/track.mp4" allowfullscreen></iframe>
                </div>
            </div>  
            <div class="col-xs-12 col-md-5 table-wrapper p-3 m-3">
                <h4>2. Track time</h4>
                <ul>
                    <li>On the "Projects" page, click on "Track" next to the relevant project</li>
                    <li>When you start working, click on 'Start tracking your time' button</li>
                    <li>When you start have finished working, click on the 'Stop tracking your time' button</li>
                    <li> <strong>Editing:</strong> You can fully customize each log entry. You can change its name (hint: this will display on your invoice), date and length</li>
                    <li> <strong>Deleting:</strong> you can delete log entries </li>
                    <li> <strong>Subtotal:</strong> your salary will be calculated automatically based on the time you spend working</li>
                </ul>
            </div>          
        </div>
        <div class="row justify-content-around">
            <div class="col-xs-12 col-md-5 table-wrapper p-3 m-3">
                <h4>3. Invoice</h4>
                <ul>
                    <li>On the "Invoices" page, click on "Add new invoice" and select your desired project</li>
                    <li>Click the 'Edit and print' button next to your new invoice</li>
                    <li> <strong>Customize:</strong> you will be able to customize your invoice before saving it as a PDF</li>
                    <li> <strong>Features:</strong> you can add your saved billing details, change the invoice number and customise the final amount by adding an additional charge, discount or VAT</li>
                </ul>
            </div>
            <div class="d-flex col-xs-12 col-md-5 table-wrapper p-3 m-3 align-items-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="/static/videos/invoice.mp4" allowfullscreen></iframe>
                </div>
            </div>            
        </div>
    </div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block script %}
{% endblock %}
