{% extends 'base.html' %}
{% block body_class %}home-anon{% endblock %}
{% block content %}
  <div class="home-anon d-flex justify-content-center">
        <div class="jumbotron jumbotron-fluid">
            <h2 class="join-message display-4 text-center">Invoice exactly what you're due.</h2>
            <h2 class="join-message display-4 text-center">In any currency.</h2>
            <p class='text-center text-primary'>Sign up now to start tracking time!</p>
            <a href="/signup" class="btn btn-primary btn-lg btn-block mb-2">Sign up</a>
            <p class='text-center text-primary'>Got an account already? <a href="/login">Track away! </a></p>
        </div>
  </div>
{% endblock %}