{% extends 'base.html' %}
{% block title %} Track {% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/landing-page.css">
{% endblock %}

{% block body_class %}home-anon{% endblock %}

{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5 text-white">Keep track of the time you spend working. Invoice in any currency.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <a href='/signup' class='btn btn-primary btn-block'>Sign Up!</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="ph-currency-dollar ph-5x m-auto text-primary"></i>
            </div>
            <h3>Save Money</h3>
            <p class="lead mb-0">Never bill the wrong amount again due to currency fluctuations.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="ph-hourglass-medium ph-5x text-primary m-auto"></i>
            </div>
            <h3>Save Time</h3>
            <p class="lead mb-0">Stop wasting time counting time. Focus on what matters.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="ph-file-text ph-5x text-primary m-auto"></i>
            </div>
            <h3>Invoice with Ease</h3>
            <p class="lead mb-0">Effortlessly generate fully customizable invoices.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase bg-white">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/css/imgs/LandingPage/bg-showcase-5.jpeg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Self-employed on an hourly rate?</h2>
          <p class="lead mb-0">Track offers a simple alternative to keeping timesheets by keeping your hours across multiple projects and clients in one place. </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/css/imgs/LandingPage/bg-showcase-8.jpeg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Self-employed and working internationally?</h2>
          <p class="lead mb-0">Track automatically converts time spent working into your currency of choice based on up-to-date conversion rates, allowing you to invoice exactly what you're due. The final sum is calculated based on exchange rates on the days you actually spent working, instead of the exchange rate on the day of invoice generation.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/css/imgs/LandingPage/bg-showcase-9.jpeg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Wasting time creating invoices?</h2>
          <p class="lead mb-0">Track creates fully customizable invoices for you in a few clicks. In any currency. </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3 bg-white" src="/static/css/imgs/TimeIsMoney/time-is-money-1.png" alt="">
            <h5>Carole B.</h5>
            <p class="font-weight-light mb-0">"5/10, would not use again. I was disappointed to find there isn't a single photo of a tiger across the whole app."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3 bg-white" src="/static/css/imgs/GrowYourMoney/grow-your-money-4.png" alt="">
            <h5>Mark Z.</h5>
            <p class="font-weight-light mb-0">"Omg! A life-changing app. I've never wasted less time on admin. Having made an app myself in my youth, I must admit it pales in comparison to Track."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3 bg-white" src="/static/css/imgs/TimeIsMoney/time is money 3.svg" alt="">
            <h5>Fergus C.</h5>
            <p class="font-weight-light mb-0">"Wow! I'm so proud of my girlfriend for making this app! She truly is the best."</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action='/signup'>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" name='email' class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}