<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
      <a class="navbar-brand" href="/"><i class="ph-hourglass-simple"></i>Track</a>
        <!-- <img src="/static/css/patterns/timemoney3.svg" alt=""> -->
    {% if user %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id='user-nav'>
          <li class="nav-item">
            <a class="nav-link" href="/user/{{user.username}}"><i class="ph-pencil-simple"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/{{user.username}}/invoices"><i class="ph-receipt"></i> Invoices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/{{user.username}}/clients"><i class="ph-users"></i> Clients</a>
          </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto">
          {% if user %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-username='{{user.username}}' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ph-user-circle"> </i> {{user.username}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/{{user.username}}/show">View User Details</a>
              <a class="dropdown-item" href="/user/{{user.username}}/edit">Edit User Details</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Delete Account</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="ph-sign-out"></i> Logout</a>
          </li>
          </ul>
          {% else %}
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/signup">Sign up</a>
          </li>
        </ul>
          {% endif %}

      </div>
    </nav>