{% extends 'base.html' %}

{% block body_class %}container project-track{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1 id='{{project.id}}' class='display-3 text-center mb-4 bg-white'>{{project.project_name}}</h1>

<div class="row justify-content-around">
    <div class="col text-center">
        <button id='start' class='btn btn-success btn-lg'>Start Tracking Your Time</button>
        <p>Time Started: <span id='time-started'></span></p> 

    </div>
    <div class="col text-center">
        <button id='stop' class='btn btn-danger btn-lg'>Stop Tracking Your Time</button>
        <p>Time Stopped: <span id='time-stopped'></span></p>
    </div>

</div>

<div class="row justify-content-between">
    <h3>Previous Log Entries</h3>
    <h3>Subtotal: <span id='subtotal-rate'>{{project.subtotal}} {{project.show_subtotal_values()['subtotal_rate']['symbol']}}</span>
        {% if project.curr_of_rate != project.curr_of_inv %}
        / <span id='subtotal-inv'>{{project.converted_subtotal}} {{project.show_subtotal_values()['subtotal_inv']['symbol']}}</span>
        {% endif %}
    </h3>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time Started</th>
        <th scope="col">Time Stopped</th>
        <th scope="col">Time Worked</th>
        <th scope="col">Value in {{project.curr_of_rate}}</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for log_entry in project.log_entries %}
    <tr id='logentryid-{{log_entry.id}}'>
        <td>{{log_entry.date}}</td>
        <td>{{log_entry.pretty_start_time}}</td>
        <td>
            {% if log_entry.stop_time %}
            {{log_entry.pretty_stop_time}}
            {% endif %}
        </td>
        <td class='time-delta'>
            {% if log_entry.time_delta %}
            {{log_entry.time_delta}} min</td>
            {% endif %}
        <td class='value'>
            {% if log_entry.value_in_curr_of_rate %}
            {{log_entry.value_in_curr_of_rate}}
            {% endif %}
        </td>
        <td>
            <button id='edit' class='btn btn-success'>Edit</button>
            <button id='delete' class='btn btn-danger'>Delete</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>





{% endblock %}

{% block script %}

<script src='/static/js/project/track-ui.js'></script>

{% endblock %}