{% extends 'base.html' %}
{% block title %} Track {% endblock %}

{% block body_class %}container project-track{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1 id='{{project.id}}' class='display-3 text-center mb-4 mt-4'>{{project.project_name}}</h1>


<div class="form-style px-3 py-3">


<div id='stop-start-dashboard' class="row justify-content-around align-items-center">
    <div class="col-4 text-center">
        <button id='start' class='btn btn-success btn-lg mb-3 text-primary shadow start-stop'>Start Tracking Your Time</button>
        <div class="row justify-content-center"><div class='col-7'><p><i class="ph-timer ph-xl"></i> Time Started: <span class='time-span' id='time-started'></span></p></div></div>
    </div>
    <div class="col-4 text-center">
        <img class='img-fluid' src="/static/css/imgs/TimeIsMoney/time-is-money-3.png" alt="">
    </div>
    <div class="col-4 text-center">
        <button id='stop' class='btn btn-danger btn-lg mb-3 shadow start-stop'>Stop Tracking Your Time</button>
        <div class="row justify-content-center"><div class='col-7'><p><i class="ph-timer ph-xl"></i> Time Stopped: <span class='time-span' id='time-stopped'></span></p></div></div>
    </div>

</div>

<div id='subtotals' class="row justify-content-between ml-1 align-items-center">
    <div class="col-3 display-col px-3 py-3 mb-3 text-center">
        <h6 id='display'>Current session: </h6>
    </div>
    <div class="col-3 subtotals-col text-center px-3 py-3 mb-3 mr-3">
        <h6>Hourly rate: {{project.show_subtotal_values()['subtotal_rate']['symbol']}} {{project.hourly_rate}}</h6>
        <h6>Subtotal: <span id='subtotal-rate'>{{project.show_subtotal_values()['subtotal_rate']['symbol']}} {{project.subtotal}}</span>
            {% if project.curr_of_rate != project.curr_of_inv %}
            / <span id='subtotal-inv'>{{project.show_subtotal_values()['subtotal_inv']['symbol']}} {{project.converted_subtotal}} </span>
            {% endif %}
        </h6>
    </div>
</div>
<div class="alert-container">
<table class="table table-wrapper table-hover">
    <thead>
      <tr>
        <th scope="col">Log Entry Date</th>
        <th scope="col">Time Started</th>
        <th scope="col">Time Stopped</th>
        <th scope="col">Description</th>
        <th scope="col">Time Worked</th>
        <th scope="col">Value in {{project.curr_of_rate}}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for log_entry in project.log_entries %}
    <tr data-log-entry-id="{{log_entry.id}}">
        <td>{{log_entry.date}}</td>
        <td>{{log_entry.pretty_start_time}}</td>
        <td>
            {% if log_entry.stop_time %}
            {{log_entry.pretty_stop_time}}
            {% endif %}
        </td>
        <td>
            {% if log_entry.description %}
            {{log_entry.description}}
            {% else %}
            Edit log entry to add
            {% endif %}
        </td>
        <td class='time-delta'>
            {% if log_entry.time_delta %}
            {{log_entry.time_delta}} min</td>
            {% endif %}
        <td class='value'>
            {% if log_entry.value_in_curr_of_rate %}
            {{log_entry.value_in_curr_of_rate}}
            {% endif %}
        </td>
        <td>
            <button data-toggle="tooltip" data-placement='top' title="Edit log entry" class='icon edit'><i class="ph-pencil-simple ph-lg edit"></i></button>
            <button data-toggle="tooltip" data-placement='top' title="Delete log entry" class='icon delete'><i class="ph-trash-simple ph-lg delete"></i></button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>



{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block script %}
<script src='/static/js/global-functions.js'></script>
<script src='/static/js/project/track-ui.js'></script>
{% endblock %}