{% extends 'base.html' %}
{% block title %} All Clients {% endblock %}

{% block body_class %}container user-clients{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <h1 class='display-2 text-center mb-4 mt-4'>Clients</h1>

    <div id='clients-container' class="container form-style py-3 px-3">
    <a href='/{{user.username}}/clients/form' class='btn btn-success btn-block mb-3 text-primary'><i class="ph-user-circle-plus ph-lg"></i> Add New Client</a>

      <div class="alert-container">


    <table class="table table-wrapper table-hover">
        <thead>
          <tr>
            <th scope="col">Client Name</th>
            <th scope="col">Client Address</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

        {% if not user.clients %}
        <tr>
            <td colspan='3' class='text-center'>
                No clients defined.
            </td>
        </tr>
        {% endif %}
    
        {% for client in user.clients %}
    
          <tr data-client-id='{{client.id}}'>
            <th scope="row">{{client.name}}</th>
    
            {% if client.street %}
            <td>{{client.full_address}}</td>
            {% else %}
            <td>Client Details Unspecified </td>
            {% endif %}
    
            <td>
                <a data-toggle="tooltip" data-placement='top' title="Edit client details" href='/{{user.username}}/clients/{{client.id}}'><i class="ph-pencil-simple ph-lg"></i></a>
                <button data-toggle="tooltip" data-placement='top' title="Delete client record" data-delay=0 class='delete icon'><i class="ph-trash-simple delete ph-lg"></i></button>
            </td>
          </tr>
    
        {% endfor %}
        </tbody>
      </table>
    </div>
    </div>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block script %}
<script src="/static/js/global-functions.js"></script>
<script src="/static/js/client/client-list.js"></script>
{% endblock %}
