{% extends 'base.html' %}
{% block title %} Edit User {% endblock %}

{% block body_class %}container user-edit{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <h1 class='display-3 text-center mb-4 mt-4'>Edit User Details</h1>


    <div class='form-info py-3 mb-3 align-items-center'>
    <div class='col'><i class="ph-question ph-xl"></i> Change the information associated with your account. </div>
    </div>

    <form class='form-style px-3 py-3 mb-5' method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field.label }}
        {{ field(placeholder=field.label.text, class="form-control mb-2 text-primary rounded") }}
      {% endfor %}

      <button class="btn btn-lg btn-block bg-primary text-white"> Edit Details! </button>
    </form>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block script %}

<script src='/static/js/password-required.js'></script>

{% endblock %}