{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block body_class %}container homepage{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1 class='display-1'>Projects</h1>
<h3>Currently logged in as: {{user.username}}</h3>

<ul>

    <table class="table table-sm bg-light table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Client</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>

        {% for project in user.projects %}

          <tr>
            <th scope="row">{{project.project_name}}</th>
            <td>{{project.client.name}}</td>
            <td>{{project.show_subtotal_values()['subtotal_rate']['sum']}}  {{project.show_subtotal_values()['subtotal_rate']['symbol']}}</td>
          </tr>

        {% endfor %}

        </tbody>
      </table>
</ul>

{% endblock %}