{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block body_class %}container homepage{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1 class='display-2 bg-none text-center mb-4'>Projects</h1>

<a href='/{{user.username}}/project/new' id='add' class='btn btn-success text-primary mt-2 mb-3 btn-block shadow'><i class="ph-plus-circle ph-lg"></i> Add new project</a>
  <div class="alert-container">
    <table class="table table-hover table-style">
        <thead>
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Client</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Converted Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        {% for project in user.projects %}

          <tr data-project-id='{{project.id}}'>
            <th scope="row" class='project-name'>{{project.project_name}}</th>
            <td class='client-name'>{{project.client.name}}</td>
            <td id='{{project.id}}'>{{project.subtotal}}  {{project.show_subtotal_values()['subtotal_rate']['symbol']}}</td>
            <td>
              {% if project.curr_of_rate != project.curr_of_inv %}
              {{project.converted_subtotal}}  {{project.show_subtotal_values()['subtotal_inv']['symbol']}}
              {% endif %}
            </td>
            <td class='align-middle text-center'>
              <a href='/{{user.username}}/project/{{project.id}}/track' class='btn btn-primary track'><i class="ph-timer ph-lg"></i> Track</a>
              <button data-trigger='hover' data-container='button' data-toggle="tooltip" data-placement='top' title="Edit project details" class='btn edit icon'><i class="ph-pencil-simple ph-lg edit"></i></button>
              <button data-trigger='hover' data-toggle="tooltip" data-placement='top' title="Delete project record" class='btn delete icon'><i class="ph-trash-simple delete ph-lg"></i></button>
            </td>
          </tr>
          <tr >
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block script %}
<script src='/static/js/global-functions.js'></script>
<script src='/static/js/project/project-ui.js'></script>
{% endblock %}

