{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block body_class %}container homepage{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1 class='display-1'>Projects</h1>
<button id='add' class='btn btn-primary mb-3 btn-block'>Add new project</button>


    <table class="table table-sm bg-light table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Client</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Converted Subtotal</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

        {% for project in user.projects %}

          <tr>
            <th scope="row" class='project-name'>{{project.project_name}}</th>
            <td>{{project.client.name}}</td>
            <td id='{{project.id}}'>{{project.show_subtotal_values()['subtotal_rate']['sum']}}  {{project.show_subtotal_values()['subtotal_rate']['symbol']}}</td>
            <td>
              {% if project.curr_of_inv %}
              {{project.show_subtotal_values()['subtotal_inv']['sum']}}  {{project.show_subtotal_values()['subtotal_inv']['symbol']}}
              {% endif %}
            </td>
            <td>
              <button class='btn btn-primary track'>Track</button>
              <button class='btn btn-success edit'>Edit</button>
              <button class='btn btn-danger delete'>Delete</button>
            </td>
          </tr>
          <tr >
          </tr>

        {% endfor %}

        </tbody>
      </table>

{% endblock %}
{% block script %}
<script src='/static/js/project/project-ui.js'></script>
{% endblock %}