{% extends 'base.html' %}

{% block title %} Invoices {% endblock %}

{% block body_class %}container invoices{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1 class='display-2 text-center mt-4 mb-4'>Invoices</h1>

<div class="form-style px-3 py-3">
<div class="dropdown create">
  <button class="btn btn-success dropdown-toggle btn-block text-primary mb-3 shadow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="ph-file-plus ph-lg"></i> Create new invoice
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for project in user.projects %}
    <a data-project-id='{{project.id}}' class="dropdown-item" href="#">{{project.project_name}}</a>
    {% endfor %}
  </div>
</div>

<div class="alert-container">
    <table class="table table-hover table-wrapper">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Client</th>
            <th scope="col">Project Name</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Converted Subtotal</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% if user.invoices %}
        {% for invoice in user.invoices %}

          <tr data-invoice-id="{{invoice.id}}">
            <th scope="row">{{invoice.date}}</th>

            {% if invoice.project.client.name %}
            <td>{{invoice.project.client.name}}</td>
            {% else %}
            <td>Client Details Unspecified 
                <a href="/client/{{invoice.project.client.id}}/edit" class='btn btn-success'>Edit</a>
            </td>
            {% endif %}

            <td>{{invoice.project.project_name}}</td>
            <td>{{invoice.amount_in_curr_of_rate}} {{invoice.project.show_subtotal_values()['subtotal_rate']['symbol']}}</td>

            {% if invoice.curr_of_inv %}
            <td>{{invoice.amount_in_curr_of_inv}} {{invoice.project.show_subtotal_values()['subtotal_inv']['symbol']}}</td>
            {% else %}
            <td>No conversion specified</td>
            {% endif %}

            <td>
                <a data-toggle="tooltip" data-placement='top' title="Edit and print" href='/{{user.username}}/invoices/{{invoice.id}}'><i class="ph-printer ph-lg"></i></a>
                <button data-toggle="tooltip" data-placement='top' title="Delete invoice record" class='icon delete'><i class="ph-trash-simple delete ph-lg"></i></button>
            </td>
          </tr>

        {% endfor %} 
        {% else %}
        <div class="mb-3">To create an invoice, please select a project from above dropdown.</div>

        {% endif %}

        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block script %}
<script src='/static/js/global-functions.js'></script>
<script src='/static/js/user/invoices_list.js'></script>
{% endblock %}