{% extends 'base.html' %}

{% block title %} Invoices {% endblock %}

{% block body_class %}container invoices{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1 class='display-2 bg-white text-center'>Invoices</h1>
<div class="container create mb-4">
  <div class="btn-group btn-block mt-3">
    <button type="button" class="btn btn-success text-right"><i class="ph-file-plus ph-lg"></i> Create New Invoice</button>
    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      {% for project in user.projects %}
      <a data-project-id='{{project.id}}' class="dropdown-item" href="#">{{project.project_name}}</a>
      {% endfor %}
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/user/{{user.username}}">View all projects</a>
    </div>
  </div>
</div>

<div class="alert-container">
    <table class="table table-sm table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Client</th>
            <th scope="col">Project Name</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Converted Subtotal</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

        {% for invoice in user.invoices %}

          <tr data-invoice-id="{{invoice.id}}">
            <th scope="row">{{invoice.date}}</th>

            {% if invoice.project.client.name %}
            <td>{{invoice.project.client.name}}</td>
            {% else %}
            <td>Client Details Unspecified 
                <a href="/client/{{invoice.project.client.id}}/edit" class='btn btn-success'>Edit</a>
            </td>
            {% endif %}

            <td>{{invoice.project.project_name}}</td>
            <td>{{invoice.amount_in_curr_of_rate}} {{invoice.project.show_subtotal_values()['subtotal_rate']['symbol']}}</td>

            {% if invoice.curr_of_inv %}
            <td>{{invoice.amount_in_curr_of_inv}} {{invoice.project.show_subtotal_values()['subtotal_inv']['symbol']}}</td>
            {% else %}
            <td>No conversion specified</td>
            {% endif %}

            <td>
                <a href='/{{user.username}}/invoice/{{invoice.id}}'><i class="ph-printer ph-lg"></i></a>
                <button class='icon delete'><i class="ph-trash-simple delete ph-lg"></i></button>
            </td>
          </tr>

        {% endfor %}

        </tbody>
      </table>
    </div>

{% block script%}
<script src='/static/js/global-functions.js'></script>
<script src='/static/js/user/invoices_list.js'></script>
{% endblock %}

{% endblock %}