{% extends 'base.html' %}

{% block body_class %}container-flex login registration py-5 my-5{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/signup.css">
{% endblock %}

{% block content %}



  <div class="row justify-content-center">
  <div class="form-div py-3 col-md-7 col-lg-5">
    <div class="row align-items-center">
      <div class="col">
        <h2 class='text-white'>Start Tracking.</h2>
      </div>
      <div class="col">
        <img src="/static/css/imgs/GrowYourMoney/grow-you-money-1.png" alt="" width='200'>
      </div>
    </div>


    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control mb-2 text-primary") }}
      {% endfor %}

      <button class="btn btn-lg btn-block bg-primary text-white">Log me in!</button>
    </form>
  </div>
</div>

{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
