{% extends 'base.html' %}
{% block title %} User Info {% endblock %}

{% block body_class %}container user-show{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <h1 class='display-2 text-center mb-4 mt-4'>User Information</h1>

        <div class="row form-style justify-content-center py-3 mt-3 mb-5">
            <div class="col col-8 text-center mb-2">
                <h5>Account Information</h5>
            </div>
            <div class="col col-8 text-center">
                <div class="row">
                    <div class="table-wrapper col col-6 px-3 py-3">
                        <div class="row px-3">
                            <table class=''>
                            <tbody class='text-left'>
                                <tr>
                                    <th scope='row'>Username: </th>
                                    <td>{{user.username}}</td>
                                </tr>
                                <tr>
                                    <th scope='row'>Full name: </th>
                                    <td>{{user.full_name}}</td>
                                </tr>
                                <tr>
                                    <th scope='row'>Email: </th>
                                    <td>{{user.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <div class='d-flex justify-content-left mt-3'>
                            <a href="/user/{{user.username}}/edit" class='btn btn-success mr-2 shadow text-primary'><i class="text-primary ph-pencil-simple ph-xl"></i> Edit Details</a>
                            <button class='btn btn-danger shadow' id='delete-user'><i class="ph-trash-simple ph-xl text-white"></i> Delete User</button>
                        </div>
                    </div>
                    <div class="col col-6">
                        <img class='img-fluid rounded-circle' src="/static/css/imgs/GrowYourMoney/grow-you-money-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="alert-container">
        <div id='billing-info-div' class="row form-style justify-content-center py-3 mt-3 mb-5">
            <div class="col col-8 text-center mb-2">
                <h5>Billing Information</h5>
            </div>
            <div class='form-info py-3 mb-3 align-items-center'>
                <div class='col'><i class="ph-question ph-xl"></i> During invoice generation, the information below will be presented to choose from.</div>
            </div>
            <div class="col col-8 text-center">
                {% if user.billing_info %}
                <div class="row justify-content-left">
                    {% for bi in user.billing_info %}
                    <div class="col col-6">
                        <div class="table-wrapper rounded border-primary mb-3 px-3 py-3">
                            <table class=''>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{bi.name}}</th>
                                </tr>
                            </thead>
                            <tbody class='text-left'>
                                <tr>
                                    <th scope='row'>Name: </th>
                                    <td>{{bi.name}}</td>
                                </tr>
                                <tr>
                                    <th scope='row'>Street: </th>
                                    <td>{{bi.street}}</td>
                                </tr>
                                <tr>
                                    <th scope='row'>City: </th>
                                    <td>{{bi.city}}</td>
                                </tr>
                                <tr>
                                    <th scope='row'>Postcode: </th>
                                    <td>{{bi.postcode}}</td>
                                </tr>
                                <tr>
                                    <th scope='row'>Country: </th>
                                    <td>{{bi.country}}</td>
                                </tr>
                                <tr>
                                    <th scope='row'>Email: </th>
                                    <td>{{bi.email}}</td>
                                </tr>
                                <tr>
                                    <th scope='row'>Phone: </th>
                                    <td>{{bi.phone}}</td>
                                </tr>
                            </tbody>
                            </table>
                            <div class="d-flex justify-content-left mt-3 ">
                                <button data-billing-info-id='{{bi.id}}' class='btn btn-danger shadow delete'><i data-billing-info-id='{{bi.id}}' class="ph-trash-simple ph-xl text-white delete"></i> Delete</button>
                            </div>
                        </div>
                      
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class='mb-3'>
                    You don't currently have any pre-defined billing details. 
                </div>
                
                {% endif %}
                <a href='/{{user.username}}/billing-info/new' class='btn btn-primary btn-block'><i class="ph-plus-circle ph-xl"></i> Add New Billing Details</a>
            </div>
        </div>
    </div>


    {% endblock %}

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}


{% block script %}

<script src='/static/js/user/user-ui.js'></script>

{% endblock %}

