{% extends 'base.html' %}

{% block body_class %}container registration{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <h2 class="join-message display-4 text-center mb-4">Start tracking.</h2>

    <div id='alert' class="alert alert-success">User was successfully deleted.</div>

  <div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">

    <a href='/signup' class='btn btn-primary btn-lg btn-block'>Sign me up!</a>
  </div>
</div>

{% endblock %}